@page

@model HW_20Web.Pages.IndexModel
@using ORM_Core;
@functions{
    
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notes Holder</title>
    <link href="~/css/Styles.css?<?=filetime('~/css/Styles.css');?>" 
          rel="stylesheet"
         />
    <script src="~/js/Script.js">
        
    </script>
</head>
<body class="back">
    
    <header> 
        <div class="header">
            Note Holder Presenter
        </div>
    </header>
    <main>
        
        <div class="table">
            <table border="1">
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Surename
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Lastname
                    </td>
                    
                </tr>

                @{
                    var func = (Func<IQueryable<Notes>>)ViewData["Get"];

                    var res = func.Invoke();

                    foreach (var item in res)
                    {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Surename
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Lastname
                                    </td>                                    
                                    <td>
                                        <button class="button" onclick="OnClickButton(@item.Id)" >Click to View More!</button>
                                    </td>

                                </tr>
                    }
                 }

            </table>
        </div>   
            
        
    </main>

    <footer>

    </footer>
    
</body>
</html>